<div id="form-active-project">
    <%= form_for @user do |f| %>
        <h1>Project wall</h1>
        <div class="input-group pull-right">
            <%= f.label :activeproject_id, "Active project", :class => "input-group-addon" %>
            <%= f.collection_select :activeproject_id, @user.projects+@user.productowner_projects, :id, :name, {:include_blank => true}, {:class => "form-control"} %>
        </div>
        <div class="clear"></div>
    <% end %>
</div>

<% if activeproject? %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#scrum" data-toggle="tab">Daily scrum</a></li>
        <li><a href="#discussion" data-toggle="tab">Discussion</a></li>
        <li><a href="#documentation" data-toggle="tab">Documentation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="scrum">
            <h2>Daily scrum</h2>
            ...
        </div>
        <div class="tab-pane" id="discussion">
            <h2>Discussion</h2>
            - The wall is empty -
        </div>
        <div class="tab-pane" id="documentation">
            <h2>Documentation</h2>
            ...
        </div>
    </div>
<% end %>
