<div id="form-add-user">
    <%= form_for @user do |f| %>
        <p>
            <div class="input-group">
                <%= f.label :activeproject_id, "Active project", :class => "input-group-addon" %>
                <%= f.collection_select :activeproject_id, @user.projects, :id, :name, {:include_blank => true}, {:class => "form-control"} %>
            </div>
        </p>
        <p class="buttons">
            <%= f.submit "Save changes", :class => "btn btn-primary pull-right" %>
        </p>
    <% end %>
</div>