<h1>Planning poker</h1>
<% if productowner? || scrummaster? %>
	<%= form_tag("/pokers/new/", :method => "post") do %>
		Select a story to estimate:  <%= select("story", "story_id", @stories.collect {|s| [ s.timeestimates.to_s << ' pt - ' << s.name, s.id ] }, { :include_blank => false }) %>

		<br />
		<div class="clear"></div>

	<%= submit_tag("Start game", :class=>"btn btn-primary pull-left") %>
	
	<%end %>

<% else @running_poker.empty? %>
	There is no game.
<% end %>